@import url('https://fonts.googleapis.com/css2?family=Economica&display=swap');

body {
  background-color: #eaeaea!important;
  color: #2e1c2b !important;
  font-family: 'Economica', sans-serif !important;
}

.home-container{
    padding: 50px;
    position: relative;
    margin-top: 125px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.home-image{
  margin-top: 30px;
  margin-bottom: 30px;
}

.home-text{
  font-size: 3rem;
}
.home-description{
  font-size: 2rem;
}
.home-buttons{
  margin-bottom: 50px;
 
}

.pic-button{
  position: absolute !important;
  text-align: center !important;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

